body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #b0ca2a;
    background-image: url('/chip.png') 
}

#home {
	background: rgba(211,211,211,.7);
	border-radius: 5px;
	padding: 20px 0px;
    margin: 0px 5px
    h1 {
        margin-top: 40px;
        text-align: center;
    }

}

#aboutDiv {
    background: rgba(211,211,211,.8);
    border-radius: 5px;
    padding: 20px 0px;
    padding: 2%;
}

#header {
    padding: 2%;
}

form {
    width: 80%;
    margin: auto;
}

.success {
    width: 60%;
    text-align: center;
    margin: auto;
    white-space: pre-wrap;
}

.danger {
    width: 60%;
    color: red;
    text-align: center;
    margin: auto;
    white-space: pre-wrap;

}
.images {
	margin-left: 40%;
	width: 20%;
}

.btn {
	background: #b0ca2a;
}